name: Pull Request Checks

on:
    pull_request:
        branches:
            - main

jobs:
    does-code-build-and-test:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            issues: read
            checks: write
            pull-requests: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup .NET 8.x
              uses: actions/setup-dotnet@v3
              with:
                # Semantic version range syntax or exact version of a dotnet version
                dotnet-version: '8.x'

            - name: Restore NuGet packages
              run: dotnet restore

            - name: Build solution
              run: dotnet build --no-restore
                
            - name: Test solution
              run: dotnet test --no-build --logger "trx;LogFileName=test_results.trx" --collect:"XPlat Code Coverage"
              
            - name: Publish Test Results
              uses: EnricoMi/publish-unit-test-result-action@v2
              with:
                files: "**/*.trx"

            - name: Code Coverage Report
              uses: irongut/CodeCoverageSummary@v1.3.0
              with:
                filename: "**/coverage.cobertura.xml"
                badge: true
                fail_below_min: true
                format: markdown
                hide_branch_rate: false
                hide_complexity: false
                indicators: true
                output: both
                thresholds: '60 80'

            - name: Publish coverage report as comment
              if: success() || failure()
              uses: thollander/actions-comment-pull-request@v2
              with:
                filePath: code-coverage-results.md
                comment_tag: coverage_report
